<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
    <script th:src="@{/js/jquery-3.6.1.js}"></script>
    <script th:src="@{/js/signup.js}"></script>
</head>
<body>
    <div>
        <span id="idchk-msg"></span>
    </div>
    <form id="form" onsubmit="return submitFalse();">
      <div>
        <input type="email" name="email" id="email" required>
      </div>
      <div>
        <input type="password" name="password" minlength="8" maxlength="10" id="password" required>
      </div>
      <div>
        <input type="submit" id="submut-button" value="Signup">
      </div>
    </form>
</body>
</html>